* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 125%;
  color: #111927;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9fafb;
}
