* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 125%;
  color: #111927;
}

h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 125%;
  color: #111927;
  letter-spacing: -0.04em;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  color: #111927;
}

p {
  color: #4d5761;
}

.inner-body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  gap: 32px;
}

.static-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32.5%;
  height: 100%;
  z-index: 1;
  margin: auto;
  background-color: #f9fafb;
  border-radius: 6px;
  padding: 32px;
}

.inner-container-top {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.nav-link {
  cursor: pointer;
  flex-flow: row;
  place-content: center;
  align-items: center;
  gap: 4px;
  width: min-content;
  height: min-content;
  padding: 4px 8px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: visible;
  color: #4d5761;
}

.inner-container-title {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.inner-container-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.home-image-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 6px;
}

.external-links {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.active-link {
  padding: 4px;
}

.social-links {
  height: 20px;
  width: 20px;
}

.scroll-container {
  width: 100%;
  margin-left: 40%;
  overflow-y: scroll;
  height: 100vh;
  padding: 2.5rem 2rem 2rem 2rem;
}

.portfolio-home-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
