* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 125%;
  color: #111927;
}

.static-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32.5%;
  height: 100%;
  z-index: 1;
  margin: auto;
  padding: 32px;
  background-color: #f9fafb;
  position: absolute;
  border-radius: 6px;
}

.scroll-container {
  max-width: 60%;
  margin: auto;
  padding: 0, 48, 48, auto;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
}
