* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 125%;
  color: #111927;
}

.static-container {
  width: 80%;
  height: 100%;
  z-index: 1;
  margin: auto;
  padding: 20px;
  background-color: #f9fafb;
  position: absolute;
}

.scroll-container {
  width: 80%;
  margin: auto;
  padding: 0, 48, 48, auto;
  background-color: #f9fafb;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
}
